* { /* Gælder alt på hele siden */
    box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen, padding mv. */
    font-family: sans-serif;
}

/* Ovenstående kode kan give problemer ved nogle 3. parts scripts man henter. Men det gør det nemmere at forstå og lave kodning når man starter. */

body {
    margin: 0;
}

#wrapper {
    margin: 0 5%; /* HVIDE KANTER I SIDERNE */
}

h1, h2, h3, h4, h5, h6 {
    margin: 0; /* Ingen ydre margen fra overskrifter */
    padding: 0; /* Ingen indre margen fra overskrifter */
}

ul, ol {
    margin: 2px 10px 2px 10px; /* Mindre margen på punkter */
    padding: 0; /* Ingen indre margen fra lister */
    list-style-position: inside; /* List punkter står på linje */
}

li {
    margin: 0; /* Ingen ydre margen fra listpunkter */
}

p {
    margin: 0; /* Ingen ydre margen fra paragraffer */
    padding: 0; /* Ingen indre margen fra paragraffer */
}

/* Sikrer billeder er responsive */
img {
    display: block; /* Billeder er et element (laver linjeskift) */
    max-width: 100%; /* Bredde må maks fylde 100% */
    height: auto; /* Højden skal tilpasse sig */
}

/* En class for transitions */
.transition {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}






/* MENU + HEADER */

nav {
    display: flex;
    justify-content: space-between;
    padding:20px 0;
    font-size: 18px;
}

nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    padding: 20px;
    display: flex;
    align-items: center;

}

nav ul:first-child {
    width: 70%;
}

nav ul:last-child {
    width: 30%;
    justify-content: flex-end;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    margin: 0 10% 0 30px !important;
}

.menu_sites {
    margin: 0 20px !important;
}

.menu_icons {
    margin: 0 15px !important;
}

.menu_icons:last-child {
    margin-right: 30px !important;
}

nav a {
    text-decoration: none;
    color: #69696e;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

nav a:hover {
    color: #63a8bc;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}



header {
    background-image: url("../img/headerbg_lamp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: #d69094;
    padding: 200px;
}

header h1 {
    font-size: 70px;
    margin-bottom: 50px;
}

header span {
    font-size: 40px;
    text-transform: uppercase;
}

.button, .product button {
    padding: 15px 70px;
    background-color: #69696e;
    border: 0;
    font-size: 15px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.button:hover, .product button:hover {
    background-color: #404043;
    cursor: pointer;

}


/* MENU + HEADER SLUT */


/* PRODUCT */

.product {
    color: #69696e;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.p_img {
    width: 60%;
    background-image: url("../img/oak_wooden_chair.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.p_info {
    width: 35%;
    height: 100%;
}

.product h1 {
    font-size: 40px;
}

.product h1 {
    margin-bottom: 25px;
}

.p_price {
    padding: 10px 20px;
    font-size: 30px;
    color: white;
    background-color: #d69094;
    clear: both;
}

.p_text {
    margin-top: 50px;
    line-height: 25px;
}

.p_add {
    margin-top: 35px;
    display: flex;
    align-items: center;
}

.favorite {
    margin-left: 30px;
    font-size: 20px;
}

.favorite:hover {
    color: #d69094;
    cursor: pointer;
}

.p_delivery {
    margin: 35px 0 15px 0;
    border: lightgray 1px solid;
    padding: 25px;
}

hr {
    border-top: 1px solid lightgray;
    width: 100%;
}

.p_delivery .fa-truck {
    padding: 5px 0 20px 0;
    font-size: 25px;
    color: #63a8bc;
    width: 100%;
}

.p_standard {
    margin: 5px 0 15px 0;
}

.p_policy {
    margin: 30px 0 5px 0;
    font-weight: bold;
}

.p_delivery .fa-undo {
    margin-right: 10px;
}

.details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.details p, .details i {
    width: 50%;
    padding: 15px 0;
}

.details i {
    text-align: right;
    font-size: 25px;
}

.details i:hover {
    color: #d69094;
    cursor: pointer;
}

/* PRODUCT SLUT */



/* GRID START */
main h2{
    text-align: center;
    margin: 70px 0 35px;
}
.popular-type {
    display: flex;
    justify-content: center;

}
.popular-item {
    margin: 0 10px 0 10px;
    color: #69696e;
    text-decoration: none;
    font-size: 17px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.popular-item:hover {
    color: #63a8bc;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.furnitures {
    color: black;
    text-decoration: underline;
}

.gridbox {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-column-gap: 32px;
    grid-row-gap: 40px;
    margin: 30px 0 100px;
}
.gridbox a {
    text-decoration: none;
    color: black;
}
.productpic {
    max-height: 300px;
}
.productpic img {
    text-align: center;
}
.productbox:hover {
    background-color: rgba(255,255,255,0.5);
}
.productinfo{
    height: 80px;
    line-height: 32px;
    padding: 15px 20px;
    background-color: #bcd7df;
}
/* GRID SLUT */

/*--------------------------- Footer Start --------------------------- */


footer {
    margin-top: 150px;
}

.mailSoMe{
    display: flex;
    justify-content: center;
    margin: 30px 0 30px;
    color: #69696e;
    font-size: 40px;
    text-decoration: none;
}

.mailSoMe ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    text-decoration: none;
    align-items: flex-end;
    color: #69696e;
}

.soMe-Icons a{
    color: #d69094;
}

.soMe-Icons a:hover{
    color: #63a8bc;
}

/*Mail Subscribe Start*/
footer button{
    margin-top: 35px;
    margin-right: 30px;
    padding: 17px 70px;
    background-color: #69696e;
    border: 0;
    color: white;
    font-weight: bold;
}

footer button:hover {
    background-color: #404043;
    cursor: pointer;
}

footer input{
    padding: 15px 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 250px;
}
/*Mail Subscribe End*/

.soMe-Icons {
    padding: 0 20px;
}

.footer-list {
    background: #f7f8f3;
    display: flex;
    padding: 70px 250px 50px 250px;
    justify-content: space-between;
}
.footer-item {
    padding: 0 30px;
}
.footer_menu{
    margin-left:-12px;
    padding: 5px 0;
}

.footer-list1 ul{

    list-style-type: none;
    padding: 0;
}

.footer-list1 a{
    text-align: left;
    text-decoration: none;
    color: #69696e;
    display: block;
    padding: 3px;

}

.footer-list1 a:hover{
    color: #63a8bc;
}

.footer-list2 ul{

    list-style-type: none;
    justify-content: space-around;


}

.footer-list2 a{
    text-decoration: none;
    text-align: left;
    color: #69696e;
    display: block;
    padding: 3px;

}

.footer-list2 a:hover{
    color: #63a8bc;
}

/*List 3*/
.footer-list3 ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    flex-direction: column;
    justify-content: space-around;

}

.footer-list3 a{
    text-decoration: none;
    text-align: left;
    color: #69696e;
    display: block;
    padding: 3px;

}

.footer-list3 a:hover{
    color: #63a8bc;
}
/*List 3 end*/

/*bottom bar start*/
.bottomRow {
    background-color: #404043;
    list-style-type: none;
    color: #69696e;
    text-decoration: none;
    display: flex;
    padding: 5px;
}

.btm_etc li{

    margin: 5px;
    text-decoration: none;
    color: #69696e;
}
.bottomRow p {
    padding-left: 100px;
}

.btm_etc a{
    color: #69696e;
    text-decoration: none;
}

.btm_etc a:hover{
    margin: 5px;
    text-decoration: none;
    color: #63a8bc;
}
/*bottom bar end/*











































