* { /* Gælder alt på hele siden */
    box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen, padding mv. */
    font-family: sans-serif;
}

/* Ovenstående kode kan give problemer ved nogle 3. parts scripts man henter. Men det gør det nemmere at forstå og lave kodning når man starter. */

body {
    margin: 0 5%; /* HVIDE KANTER I SIDERNE */
}

h1, h2, h3, h4, h5, h6 {
    margin: 0; /* Ingen ydre margen fra overskrifter */
    padding: 0; /* Ingen indre margen fra overskrifter */
}

ul, ol {
    margin: 2px 10px 2px 10px; /* Mindre margen på punkter */
    padding: 0; /* Ingen indre margen fra lister */
    list-style-position: inside; /* List punkter står på linje */
}

li {
    margin: 0; /* Ingen ydre margen fra listpunkter */
}

p {
    margin: 0; /* Ingen ydre margen fra paragraffer */
    padding: 0; /* Ingen indre margen fra paragraffer */
}

/* Sikrer billeder er responsive */
img {
    display: block; /* Billeder er et element (laver linjeskift) */
    max-width: 100%; /* Bredde må maks fylde 100% */
    height: auto; /* Højden skal tilpasse sig */
}

/* En class for transitions */
.transition {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}




/* MENU + HEADER */

nav {
    display: flex;
    justify-content: space-between;
    padding:20px 0;
    font-size: 18px;
}

nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    padding: 20px;
    display: flex;
    align-items: center;

}

ul:first-child {
    width: 70%;
}

ul:last-child {
    width: 30%;
    justify-content: flex-end;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    margin: 0 10% 0 30px !important;
}

.menu_sites {
    margin: 0 20px !important;
}

.menu_icons {
    margin: 0 15px !important;
}

.menu_icons:last-child {
    margin-right: 30px !important;
}

nav a {
    text-decoration: none;
    color: #69696e;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

nav a:hover {
    color: #d69094;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.logo a {
    color: #d69094;
}

.logo a:hover {
    color: #69696e;
}


header {
    background-image: url("../img/headerbg_lamp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: #789fb0;
    padding: 200px;
}

header span, header button {
    text-transform: uppercase;
}

header h1 {
    font-size: 70px;
}

header span {
    font-size: 40px;
}

header button {
    margin-top: 35px;
    padding: 15px 70px;
    background-color: #69696e;
    border: 0;
    color: white;
    font-weight: bold;
}

header button:hover {
    background-color: #404043;
    cursor: pointer;

}


/* MENU + HEADER SLUT */




main h2{
    text-align: center;
}
.popular-type {
    display: flex;
    margin: 10px;
    padding: 3px;
    text-align: center;
}

.gridbox {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 10px;
    margin: 80px;
    border: black solid 2px;
}